html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 48px;
}

main {
    flex: auto;
    background-color: #ccc;
}

footer {
    height: 24px;
}

nav {
  font: 12px 'opensans-bold', sans-serif;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
}

nav ul {
    width: auto;
    text-align: center;
}

nav ul, nav li, nav a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

nav li {
  display: inline-block;
}

nav li.current a {
  color: #fe6928;
}

nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
}

.tab {
  background: #1A1E23;
  font-family: 'Lato', sans-serif;
  position: relative;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.tab .line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #FF1847;
}

.tab ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.tab li {
  margin: 0 40px 0 0;
  opacity: .4;
  transition: all 0.4s ease;
}

.tab li:hover {
  opacity: .7;
}

.tab li.active {
  opacity: 1;
}

.tab li:last-child {
  margin-right: 0;
}

.tab li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: .2em;
  font-size: 14px;
}

.content {
  margin-top: var(--space);
}
