body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header, footer {
  flex: none;
}

nav {
  order: -1;
  padding: 1em;
  border-radius: 3px;
  background: rgba(147, 128, 108, 0.1);
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: var(--space);
}

.content {
  margin-top: var(--space);
}

@media (--break-lg) {
  main {
    flex-direction: row;
  }
  .content {
    flex: 1;
    padding: 0 var(--space-lg);
    margin: 0;
  }
  nav {
    flex: 0 0 12em;
  }
}
